<section id="change-password" class="profile-form-section">
    <header>Change Password</header>
    <form action="/profile" method="post">
        <div class="mb-3">
            <label>Old Password:</label>
            <input class="form-control" type="password" name="old_password" required>
        </div>
        <div class="mb-3">
            <label>New Password:</label>
            <input class="form-control" type="password" name="new_password" required>
        </div>
        <div class="mb-3">
            <label>Confirm New Password:</label>
            <input class="form-control" type="password" name="confirm_new_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</section>