
.wrapper{
    width:400px;
    border:1px solid lightgrey;
    border-radius:6px;
}

.form header{
    font-size:54px;
    font-weight: 600;
    padding-bottom:20px;
    padding-top:20px;
    font-family: 'Dancing Script', cursive;
    text-align:center;
}

.slogan{
    text-align:center;
    font-size:15px;
    padding-left:60px;
    padding-right:60px;
    padding-bottom:20px;
    font-weight:600;
    color:grey;
}

.login {
    padding-top:40px;
    text-align:center;
    font-size:15px;
}

.login a{
    color:#0095f6;
}

input:focus, button:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #80bdff;  /* Subtle border change */
}

.password-requirements ul li {
    list-style: outside;
    font-size: 14px;
    color: grey;
}

.password-requirements ul li.valid {
    color: green;
}

.password-requirements ul li.invalid {
    color: red;
}

.password-requirements {
    display: none;
    align-items: center;
    justify-content:center;
}

.password-requirements ul {
    text-align:left;
    padding-left:0;
}

